{% extends "base.html" %}

{% block content %}
    <h2>Book a Table</h2>
    <div class="form-container">
        <form method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" required>
            
            <label for="guests">Number of Guests:</label>
            <input type="number" id="guests" name="guests" required>
            
            <label for="dish">Dish to be Ready:</label>
            <input type="text" id="dish" name="dish" required>
            
            <input type="submit" value="Book Table">
        </form>
    </div>
{% endblock %}
