{% extends 'base.html' %}

{% block content %}
<div class="menu-container">
  <h2>Starters</h2>
  <div class="menu-section">
      <div class="menu-item">
          <img src="{{ url_for('static', filename='images starter1.jpg') }}" alt="Starter 1">
          <h3>Chilli Paneer</h3>
          <p>Spicy and tangy Indo-Chinese appetizer made with paneer (Indian cottage cheese), bell peppers, and a flavorful sauce.</p>
      </div>
      <div class="menu-item">
          <img src="{{ url_for('static', filename='images starter2.jpg') }}" alt="Starter 2">
          <h3>Veg Manchurian</h3>
          <p>Deep-fried vegetable balls tossed in a tangy and spicy soy-based sauce, popular in Indo-Chinese cuisine.</p>
      </div>
      <div class="menu-item">
          <img src="{{ url_for('static', filename='images starter3.jpg') }}" alt="Starter 3">
          <h3>Chilli Chicken</h3>
          <p>A spicy and savory Indo-Chinese dish featuring marinated chicken pieces stir-fried with bell peppers, onions, and chilies.</p>
      </div>
      <div class="menu-item">
          <img src="{{ url_for('static', filename='images starter4.jpg') }}" alt="Starter 4">
          <h3>Mutton Fry</h3>
          <p>A flavorful and spicy South Indian dish made with tender mutton pieces cooked with aromatic spices and herbs.</p>
      </div>
      <div class="menu-item">
          <img src="{{ url_for('static', filename='images starter5.jpg') }}" alt="Starter 5">
          <h3>Prawn Fry (Royyala Vepudu)</h3>
          <p>A crispy and spicy seafood starter featuring prawns marinated in a blend of spices and fried to perfection.</p>
      </div>
  </div>

  <h2>Main Course</h2>
    <div class="menu-section">
        <div class="menu-item">
            <img src="{{ url_for('static', filename='images main1.jpg') }}" alt="Main Course 1">
            <h3>Main Course 1</h3>
            <p>Description of Main Course 1</p>
        </div>
        <div class="menu-item">
            <img src="{{ url_for('static', filename='images main2.jpg') }}" alt="Main Course 2">
            <h3>Main Course 2</h3>
            <p>Description of Main Course 2</p>
        </div>
        <div class="menu-item">
            <img src="{{ url_for('static', filename='images main3.jpg') }}" alt="Main Course 3">
            <h3>Main Course 3</h3>
            <p>Description of Main Course 3</p>
        </div>
        <div class="menu-item">
            <img src="{{ url_for('static', filename='images main4.jpg') }}" alt="Main Course 4">
            <h3>Main Course 4</h3>
            <p>Description of Main Course 4</p>
        </div>
        <div class="menu-item">
            <img src="{{ url_for('static', filename='images main5.jpg') }}" alt="Main Course 5">
            <h3>Main Course 5</h3>
            <p>Description of Main Course 5</p>
        </div>
    </div>

{% endblock %}
